/*Start general*/

body {
    background-image:url(../image/slider/slider4.jpg); 
    background-position:center;
    background-size:cover;  
    color: #888;
    line-height: 30px;
}

section {
    margin: 110px auto 0;
}

/*End general*/

/*Start Sign in*/

/***** Top content *****/

.nav-tabs {
    border-bottom:none;
    padding-left:15px;
}

.nav-tabs .nav-item{
    width:50%;
}

.form-box {
	padding-top: 35px;
}

.form-top {
	overflow: hidden;
	padding: 0 25px 15px 25px;
	background: #444;
	background: rgba(0, 0, 0, 0.5);
	-moz-border-radius: 4px 4px 0 0; -webkit-border-radius: 4px 4px 0 0; border-radius: 4px 4px 0 0;
	text-align: left;
}

.form-top-left {
	float: left;
	width: 75%;
	padding-top: 25px;
}

.form-top-left h3 { margin-top: 0; color: #F7B700; }
.form-top-left p { opacity: 0.5; color: #fff; }

.form-top-right {
	float: left;
	width: 25%;
	padding-top: 5px;
	font-size: 66px;
	color: #fff;
	line-height: 100px;
	text-align: right;
	opacity: 0.3;
}

.form-top-right i{
    color:#F7B700;
}

.form-bottom {
    padding: 25px 25px 30px 25px;
    background: #444;
    background: rgba(0, 0, 0, 0.5);
    -moz-border-radius: 0 0 4px 4px; -webkit-border-radius: 0 0 4px 4px; border-radius: 0 0 4px 4px;
    text-align: left;
}

.form-bottom form button.btn {
    color: white;
    width: 100%;
}

.form-username:focus ,.form-password:focus {
    border-color:#F7B700;
    box-shadow:1px 1px 2px #F7B700,
              -1px -1px 2px #F7B700;
}

select {
    width:100%;
    padding:5px;
    border-radius:5px;
    cursor:pointer;
}

select:focus {
  border-color: #F7B700;
  outline: 0;
}

select option{
    background-color:#fff;
    border-radius:5px;
}


input[type="submit"] {
    width: 100%; 
}


.social-login {
	margin-top: 10px;
}

.social-login h3 {
	color: #fff;
	margin-bottom: 0px;
}

.social-login-buttons {
	margin-top: 15px;
}

.form-bottom form .input-error {
	border-color: #19b9e7;
}

.btn-link-2 {
	display: inline-block;
	height: 50px;
	margin: 5px;
	padding: 15px 20px 0 20px;
	background: rgba(0, 0, 0, 0.3);
	border: 1px solid #fff;
	font-size: 16px;
    font-weight: 300;
    line-height: 16px;
    color: #fff;
    -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
}

.btn-link-2:hover, 
.btn-link-2:focus, 
.btn-link-2:active,
.btn-link-2:active:focus {
    outline: 0;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
}

/***** Media queries *****/

@media (min-width: 992px) and (max-width: 1199px) {}

@media (min-width: 768px) and (max-width: 991px) {}

/*End Sign in*/

